*.csv
*.txt
*.pdf
*.pkl
hw_2/cache/
hw_2/runs/
hw_2/wikIR1k/training/BM25.*
hw_2/wikIR1k/validation/BM25.*
hw_2/wikIR1k/test/BM25.*
hw_2/coat_data/
hw_1/coat_data/
hw_3/cache/
hw_3/runs/
hw_3/imat2009_letor/
hw_3/imat2009_new_split/
hw_3/mirage/
hw_3/wikIR1k/
hw_3/documents.csv
hw_1/wiki_cache/
